/.idea
/.vs
*.user
/.claude
/.cursor
/LightRAGNet/bin
/LightRAGNet/obj
/LightRAGNet.Core/bin
/LightRAGNet.Core/obj
/LightRAGNet.Embedding/bin
/LightRAGNet.Embedding/obj
/LightRAGNet.Example/bin
/LightRAGNet.Example/obj
/LightRAGNet.LLM/bin
/LightRAGNet.LLM/obj
/LightRAGNet.Rerank/bin
/LightRAGNet.Rerank/obj
/LightRAGNet.Storage/bin
/LightRAGNet.Storage/obj
/LightRAGNet.Hosting/bin
/LightRAGNet.Hosting/obj
/LightRAGNet.Web/bin
/LightRAGNet.Web/obj
/LightRAGNet.Server/bin
/LightRAGNet.Server/obj
/LightRAGNet.Server/Uploads
/LightRAGNet.Share/bin
/LightRAGNet.Share/obj
