version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - D:\PALINK\Qdrant\storage:/qdrant/storage:z
    restart: unless-stopped

  neo4j:
    image: neo4j:latest
    container_name: neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - D:\PALINK\Neo4j\data:/data
      - D:\PALINK\Neo4j\logs:/logs
      - D:\PALINK\Neo4j\conf:/var/lib/neo4j/conf
      - D:\PALINK\Neo4j\import:/var/lib/neo4j/import
      - D:\PALINK\Neo4j\plugins:/var/lib/neo4j/plugins
    restart: unless-stopped
